<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="scoop_urdf">
  <link
    name="scoop">
    <inertial>
      <origin
        xyz="5.6402E-06 -0.0031065 -0.029004"
        rpy="0 0 0" />
      <mass
        value="0.033026" />
      <inertia
        ixx="1.5195E-05"
        ixy="1.1473E-10"
        ixz="7.1239E-11"
        iyy="4.2855E-05"
        iyz="-3.2482E-06"
        izz="3.9837E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aligned_arm/meshes/scoop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aligned_arm/meshes/scoop.STL" />
      </geometry>
    </collision>
  </link>
</robot>